

h2{
	   font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;

}
.btn {
    padding: 10px 20px;
    background-color: hsl(0, 40%, 50%);
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: hsl(0, 60%, 70%);
    color: #000;
  }